[Unit]
Description="Ferris Elf discord bot"
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=/srv/ferris-elf/config/env_file
WorkingDirectory=/srv/ferris-elf/ferris-elf/
ExecStart=/srv/ferris-elf/.local/bin/poetry run python3 bot.py
Restart=always

[Install]
Alias="ferris-elf.service"
Also="ferris-elf-fetch.timer ferris-elf-update.timer"
WantedBy=default.target
