[Unit]
Description="Ferris Elf auto-update"

[Service]
Type=oneshot
EnvironmentFile=/srv/ferris-elf/config/env_file
WorkingDirectory=/srv/ferris-elf/ferris-elf/
ExecStart=/srv/ferris-elf/ferris-elf/ops/update.sh
