name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request: {}
  schedule:
    - cron:  '27 4,17 * * *'

permissions:
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - id: dategen
      shell: bash
      run: echo "docker-version=$(date +%s)" >> $GITHUB_OUTPUT
    - name: Build & Publish the runner image
      uses: elgohr/Publish-Docker-Github-Action@v5
      with:
        name: proegssilb/ferris-elf-bencher
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
        registry: ghcr.io
        default_branch: main
        workdir: runner
        buildoptions: "--volume ./benches/:/app/benches --volume ./src/:/app/src/"
        tags: "latest,${{ steps.dategen.outputs.docker-version }}"
        no_push: ${{ github.event_name == 'pull_request' }}
